/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";


:root {
  --border-radius: 4px;
  --footer-height: 10vh;
}

*, 
::after, 
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
}

a,
button {
  cursor: pointer;
}

header.site-header {
  padding: 1rem;
  position: relative;
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-content:space-evenly;
}

h1 {
  font-size: var(--font-size-fluid-2);
  display: contents;
}

h2 {
  font-size: var(--font-size-fluid-1);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-old-style);
}

@layer aside {
  aside:popover-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    border-radius: var(--border-radius);
    padding: 2rem 1rem;
    z-index: 1000;
    overflow-y: auto;
    opacity: 1;
    transform: translateX(0);
    transition: 
      transform 0.3s ease,
      opacity 0.3s ease,
      display 0.3s allow-discrete,
      overlay 0.3s allow-discrete;
  }
  
  aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    padding: 2rem 1rem;
    z-index: 1000;
    overflow-y: auto;
    opacity: 0;
    transform: translateX(-100%);
    transition: 
      transform 0.3s ease,
      opacity 0.3s ease,
      display 0.3s allow-discrete,
      overlay 0.3s allow-discrete;
  }

  @starting-style {
    aside:popover-open {
      opacity: 0;
      transform: translateX(-100%);
    }
  }

  [popover]::backdrop {
    background-color: transparent;
    transition:
      display 0.3s allow-discrete,
      overlay 0.3s allow-discrete,
      background-color 0.3s;
  }

  [popover]:popover-open::backdrop {
    background-color: rgb(0 0 0 / 25%);
  }
  
  @starting-style {
    [popover]:popover-open::backdrop {
      background-color: transparent;
    }
  }
  
  .sidebar-header {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav li {
    margin-bottom: 0.5rem;
  }
  
  nav a {
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

main {
  display: flex;
}

.content {
  border: 1px solid #000;
  border-radius: var(--border-radius);
  padding: 2rem;
  height: 80vh;
  overflow-y: scroll;
  margin: 0 auto;
  max-width: clamp(75vw, 50rem, 15rem);
  
  h2 {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
  }
  
  p {
    margin-bottom: 1rem;
    text-align: justify;
  }

  ol, 
  ul {
    padding-inline: 1rem;
  }
}

footer {
  text-align: center;
  padding: 1rem;
  height: var(--footer-height);
}

.character-creation {
  display: grid;
  gap: 1rem;
  grid-template-rows: auto;
  justify-content:space-evenly;
}

.input-and-button {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: .25fr .75fr;
  gap: .5rem;

  button {
    justify-self: center;
    align-self: center;
  }
}

.form-input {
  display: grid;
  grid-template-rows: auto;
}

menu {
  padding-left: 1rem;
  display: grid;
}